<a href="https://colab.research.google.com/github/ahmad123576/Deep-Learning/blob/main/tensorflow_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [2]:
# create tf dataset from list
daily_sales_numbers = [21, 22, -108, 31, -1, 32, 34, 31]

tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

In [3]:
# iterate through tf dataset
for sales in tf_dataset:
    print(sales.numpy())

21
22
-108
31
-1
32
34
31

In [4]:
# instead of sales.numpy()
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
-108
31
-1
32
34
31

In [5]:
# iterate through first 3 elements in dataset
for sales in tf_dataset.take(3):
    print(sales.numpy())

21
22
-108

In [6]:
# filter sales number that are < 0
tf_dataset = tf_dataset.filter(lambda x: x>0)

for sales in tf_dataset.as_numpy_iterator():
    print(sales)

21
22
31
32
34
31

In [7]:
# converting usa dollar into indian inr assuming 1 dollar = 72 inr
tf_dataset = tf_dataset.map(lambda x: x*72)

for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1512
1584
2232
2304
2448
2232

In [8]:
# shuffle
tf_dataset = tf_dataset.shuffle(2)

for sales in tf_dataset.as_numpy_iterator():
    print(sales)

1584
1512
2304
2232
2448
2232

In [9]:
# batching
for sales_batch in tf_dataset.batch(2):
    print(sales_batch.numpy())

[1512 2232]
[2304 1584]
[2232 2448]

In [12]:
# perform all above operations in one shot
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

tf_dataset = tf_dataset.filter(lambda x: x>0).map(lambda y: y*72).shuffle(2).batch(2)

for sales in tf_dataset.as_numpy_iterator():
    print(sales)

[1584 2232]
[1512 2448]
[2232 2304]